[user]
	name = Ryan Atallah
	email = mail@ryanatallah.com
[core]
  editor = vim
[alias]
  a = add .
  br = branch
  dbr = branch -d
  Dbr = branch -D
  c = commit
  ca = commit -a
  cam = commit -am
  co = checkout
  com = checkout master
  cob = checkout -b
  st = status
  pom = pull origin master
[push]
	default = matching
