[user]
	name = Ryan Atallah
	email = mail@ryanatallah.com
[core]
  editor = vim
[alias]
  a = add .
  br = branch
  c = commit
  ca = commit -a
  cam = commit -am
  co = checkout
  cob = checkout -b
  st = status
